
.env*
.env*.localnode_modules/
.pnpm-debug.log*
.svelte-kit/
.vercel
*.tsbuildinfo
/.next/
/build
/node_modules
/out/
# debug
# dependencies
# env files
# local env files
# next.js
# production
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# sveltekit
# typescript
# vercel
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
